.tamim1{
    background: #091563;
    color: white;
}
.tamim2{
    color:#9c3569 ;
}
.tamim3{
    font-family: 'Yellowtail', cursive;
    color: white;
    background:#047504 ;
    text-align: center;
}
.index{
    font-family: 'Yellowtail', cursive;
    background:#834646 ; 
    text-align: center; 
    font-size: 50px;
}
.index6{
    text-align: center;
 background:#eeeeee;
}
i{
    width: 300px;
}
.index4{
    background:#0d6efd ;
    font-size: 60px;
    text-align: center;
}
.index01{
    text-align: center;
    
}
.tamim4{
    background:#297a48 ;
    font-size:60px ;
    text-align: center;
}
.css1{
    text-align: center;
}
.tamim07{
    font-family: 'Yellowtail',cursive;
    color: white;
}
.tamim10{
    background:#4f84c4 ;
}
.input2{
    color: white;
}
.input3{
    background: black;
    color: white;
}
.boss1{
    text-align: center;
}

/*font-family: 'Yellowtail', cursive;/*

